body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  background: white;
  font-size: 15px;
  font-family: "Poppins";
}
/*  STYLE FOR TXT */
.titre {
  width: 465px;
  height: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

.titre2 {
  width: 465px;
  height: 60px;
  text-align: center;
  margin: auto;
}

#style1 {
  font-weight: 200;
  margin: 30px 0px 0px 0px;
}
#style2 {
  font-size: 30px;
  margin-top: 0px;
}

.soustitre {
  width: 515px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
}
/* CARD POSITION IN CONTAINER  */

.container {
  width: 1110px;
  height: 530px;
  background-color: white;
  margin-left: 165px;
  margin-right: 165px;
  margin-top: 50px;
}
.box1 {
  width: 350px;
  height: 250px;
  box-shadow: 0 5px 20px rgba(125, 134, 153, 0.5);
  border-radius: 4%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.box2 {
  width: 350px;
  height: 250px;
  box-shadow: 0 5px 20px rgba(125, 134, 153, 0.5);
  margin: -125px 30px 0px 0px;
  border-radius: 4%;
}
.box3 {
  width: 350px;
  height: 250px;
  box-shadow: 0 5px 20px rgba(125, 134, 153, 0.5);
  margin: -250px 0px 0px 760px;
  border-radius: 4%;
}
.box4 {
  width: 350px;
  height: 250px;
  box-shadow: 0 5px 20px rgba(125, 134, 153, 0.5);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -95px;
  border-radius: 4%;
}

/* CARD COLORS  */

.shadow {
  width: 350px;
  height: 4px;
  background-color: #ea5353;
  border-radius: 48px 48px 0px 0px;
}

.shadow1 {
  width: 350px;
  height: 4px;
  background-color: hsl(180, 62%, 55%);
  border-radius: 48px 48px 0px 0px;
}

.shadow2 {
  width: 350px;
  height: 4px;
  background-color: hsl(212, 86%, 64%);
  border-radius: 48px 48px 0px 0px;
}
.shadow3 {
  width: 350px;
  height: 4px;
  background-color: hsl(34, 97%, 64%);
  border-radius: 48px 48px 0px 0px;
}

/* Card contain style  */

.name {
  display: block;
  text-align: left;
  margin-left: 33px;
  margin-top: 27px;
  font-weight: 600;
}

.lorem {
  display: block;
  text-align: left;
  margin-left: 33px;
  line-height: 25px;
  font-weight: 200;
  padding-right: 30px;
  font-size: 13px;
}

.icone {
  margin: 7% 5% 5% 72%;
}
